.gradient {
  background: linear-gradient(
    90deg,
    rgba(146, 220, 229, 1) 0%,
    rgba(131, 244, 250, 1) 65%,
    rgba(146, 220, 229, 1) 100%
  );
}

:target {
  scroll-margin-top: 3rem;
}

@font-face {
  font-family: 'Belleza';
  src: url('/fonts/Belleza/Belleza-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'DancingScript';
  src: url('/fonts/Dancing_Script/static/DancingScript-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
